<div class="my_block" id="my_block" *ngIf="is_auth">
	<div class="preloader5" *ngIf="is_update==false">
	    <span></span>
	    <span></span>
	    <span></span>
	</div>
	<div align='center' [hidden]="all_tasks_arr.length || !is_update || is_filter">
		<div class='error'>You have not created any tasks</div>
		<a class='button create' routerLink='/create_task' routerLinkActive='Active'>Create</a>
	</div>
	<div>
		<ul class="tasks_table" *ngIf="all_tasks_arr.length!=0 && is_update">
			<li class="header_table" [hidden]="!all_tasks_arr.length">
				<span style="width:20%">Title</span>
				<span style="width:10%">Type task</span>
				<span style="width:16%">Date</span>
				<span style="width:15%">Location</span>
				<span style="width:12%">Time start</span>
				<span style="width:12%">Time end</span>
				<span style="width:15%">Functions</span>
			</li>
		</ul>
		<div id="wrap_tasks_table" [style.max-height]="overflow_height" *ngIf="all_tasks_arr.length!=0 && is_update">
			<ul class="tasks_table">
				<li *ngFor="let task of all_tasks_arr; let i = index">
					<span style="width:20%" [style.color] = "task.time_end!='' ? '#b9b9b9' : ''">{{ task.header }}</span>
					<span style="width:10%" [style.color] = "task.time_end!='' ? '#b9b9b9' : ''">{{ change_type(task.type_task) }}</span>
					<span style="width:16%" [style.color] = "task.time_end!='' ? '#b9b9b9' : ''">{{ getMonthName(task.date.getMonth()) }} {{ task.date.getDate() }}</span>
					<span style="width:15%" [style.color] = "task.time_end!='' ? '#b9b9b9' : ''">{{ task.location }}</span>
					<span style="width:12%" [style.color] = "task.time_end!='' ? '#b9b9b9' : ''">{{ task.time_start }}</span>
					<span style="width:12%" [style.color] = "task.time_end!='' ? '#b9b9b9' : ''">
						<div *ngIf="task.time_end!=''">{{ getMonthName(task.time_end.getMonth()) }} {{ task.time_end.getDate() }}</div>
					</span>
					<span style="width:15%">
						<div [style.opacity] = "task.time_end!='' ? '0.3' : '1'">
							<div class="show" title="Show description" (click)="show_task_description(task.id)" *ngIf="task.type_task!=2"></div>
							<div class="settings" title="Change" (click)="change(task.id)"></div>
							<div class="do_it"  title="I did it" (click)="made(task.id, i)" *ngIf="task.time_end==''"></div>
							<div class="delete" title="Delete" (click)="delete(task.id)"></div>
						</div>
					</span>
				</li>
			</ul>
		</div>
		<a class='button create bottom' *ngIf="all_tasks_arr.length!=0 || is_filter==true" routerLink='/create_task' routerLinkActive='Active'>Create</a>

		<div class="modal_window" *ngIf="modal_window!=''">
			<div class="content">
				<div class="exit_modal" (click)="exit_modal()"></div>
				<h2 align="center">{{ title_modal_window }}</h2>
				<div [innerHtml]="modal_window" class="content_scroll"></div>
			</div>
		</div>
	</div>

	<div *ngIf="all_tasks_arr.length==0 && is_filter" class="nofilter_found">
		In your filter, nothing is found
	</div>

	<div class="filters" *ngIf="all_tasks_arr.length || is_filter">
			<div class="filters_ico"></div>
			<div class="filters_content">
				<table width="400px">
					<tr>
						<td width="50px">Task</td><td><input type="radio" (ngModel)="type_filter" name="type_filter" [checked]="type_filter == 0" (change)="setFilter(0, 0)"></td>
						<td width="75px">Today</td><td><input type="radio" (ngModel)="date_filter" name="day_filter" [checked]="date_filter == 0" (change)="setFilter(1, 0)"></td>
						<td width="90px">I did it</td><td width="10px"><input type="radio" name="did_filter" (ngModel)="made_filter" [checked]="made_filter == 0" (change)="setFilter(2, 0)"></td>
					</tr>
					<tr>
						<td>Meeting</td><td><input type="radio" (ngModel)="type_filter" name="type_filter" [checked]="type_filter == 1" (change)="setFilter(0, 1)"></td>
						<td>This week</td><td><input type="radio" (ngModel)="date_filter" name="day_filter" [checked]="date_filter == 1" (change)="setFilter(1, 1)"></td>
						<td>I should did it</td><td><input type="radio" name="did_filter" (ngModel)="made_filter" [checked]="made_filter == 1" (change)="setFilter(2, 1)"></td>
					</tr>
					<tr>
						<td>Reminder</td><td><input type="radio" (ngModel)="type_filter" name="type_filter" [checked]="type_filter == 2" (change)="setFilter(0, 2)"></td>
						<td>This month</td><td><input type="radio" (ngModel)="date_filter" name="day_filter" [checked]="date_filter == 2" (change)="setFilter(1, 2)"></td>
						<td>None</td><td><input type="radio" name="did_filter" value="-1" (ngModel)="made_filter" [checked]="made_filter == -1" (change)="setFilter(2, -1)"></td>
					</tr>
					<tr>
						<td>None</td><td><input type="radio" (ngModel)="type_filter" name="type_filter" [checked]="type_filter == -1" (change)="setFilter(0,-1)"></td>
						<td>None</td><td><input type="radio" (ngModel)="date_filter" name="day_filter" [checked]="date_filter == -1" (change)="setFilter(1,-1)"></td>
						<td></td><td></td>
					</tr>
				</table>
			</div>
		</div>
</div>