.my_block {
	width:90%;
	height:80%;
	background: #eeeeee;
	display: block;
	position:absolute;
	left:50%;
	top:112px;
	border:1px solid #3e3e3e;
	overflow:hidden;
	margin-left:-45%;
}

.my_block:before{
	position:absolute;
	content:"";
	top:50%;
	margin-top:-190px;
	left:-25px;
	right:30px;
	z-index:-1;
	height:380px;
	background:url(../../img/medium_block_shadow.png) center left no-repeat;
}
.my_block:after{
	position:absolute;
	content:"";
	top:50%;
	margin-top:-190px;
	left:100%;
	right:-25px;
	z-index:-1;
 	height:380px;
	background:url(../../img/medium_block_shadow.png) center left no-repeat;
	-moz-transform: scale(-1,1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1,1);
	transform: scale(-1,1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.my_block h1 {
	text-align: center;
	font-size:32px;
}

.my_block input[type="text"], .my_block input[type="password"] {
	background:#dadada;
	border:1px solid #bab4b4;
	width:100%;
	border-radius:10px;
	padding:12px;
	font-size:20px;
	margin-bottom:30px;
	box-sizing: border-box;
}

.my_block button {
	background: #ffea00; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffea00 0%, #ffd200 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffea00 0%,#ffd200 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffea00 0%,#ffd200 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffea00', endColorstr='#ffd200',GradientType=0 ); /* IE6-9 */
	color: #050306;
	border: 1px solid #ccbd1b;
	font-size:20px;
	padding:8px;
	padding-left:35px;
	padding-right:35px;
	border-radius:10px;
	cursor:pointer;
}

.my_block button:not([disabled]):hover {
	background: #ffd200; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffd200 0%, #ffea00 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffd200 0%,#ffea00 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffd200 0%,#ffea00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd200', endColorstr='#ffea00',GradientType=0 ); /* IE6-9 */

}

.my_block button:disabled {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray; /* IE 6-9 */
	opacity: 0.5;
	cursor: default;
}

.my_block .link {
	margin-top:35px;
	text-align: center;
	font-size:18px;
}

.my_block .link a {
	color: #0980bd;
}

.my_block .link a:hover {
	color: #007eff;
}

.message_user {
	position:absolute;
	top:10px;
	left:0px;
	text-align:center;
	width:100%;
	background: #f5f0b3;
	color: #252200;
	padding:8px;
	box-sizing: border-box;
	font-weight: bold;
	font-size: 16px;
	border-top: 1px solid #bcb669;
	border-bottom: 1px solid #bcb669;
}

#wrap_tasks_table {
	overflow:auto;
	border-bottom:1px solid #dddede;
}
.tasks_table {
	display: table;
	width:100%;
	padding:0px;
	margin:0px;
	box-sizing: border-box;
}
.tasks_table li {
	display:table-row;
	box-sizing: border-box;
}
.tasks_table li span {
	border-top: 1px solid #dddede;
	display:table-cell;
	vertical-align:middle;
	text-align: center;
	box-sizing: border-box;
}
.tasks_table li:not(.header_table) span {
	padding:10px;
	border-right:1px solid #dddede;
}

.header_table {
	background:#e1e1e1;
	height:60px;
	text-align:center;
	font-weight:bold;
	font-size:20px;
	border-bottom:1px solid #dddede;
}
.header_table span {
	overflow:hidden;
}

.delete {
	width: 31px;
	height: 37px;
	display:inline-block;
	background:url(../../img/delete.png) center left no-repeat;
	cursor:pointer;
}
.do_it {
	width: 38px;
	height: 33px;
	display:inline-block;
	background:url(../../img/do_it.png) center left no-repeat;
	cursor:pointer;
}
.settings {
	width:33px;
	height:33px;
	display:inline-block;
	background:url(../../img/settings.png) center left no-repeat;
	cursor:pointer;
}
.show {
	width:52px;
	height:28px;
	display:inline-block;
	background:url(../../img/show.png) center left no-repeat;
	cursor:pointer;
}
.delete:hover, .do_it:hover, .settings:hover, .show:hover, .exit_modal:hover{
	opacity: 0.7;
}

/*modal window*/
.modal_window {
	left:0px;
	top:0px;
	background:rgba(0,0,0,0.4);
	display:inline-block;
	width:100%;
	height:100%;
	position:fixed;
	-webkit-transition: all 1s ease-in-out;
	-moz-transition: all 1s ease-in-out;
	-o-transition: all 1s ease-in-out;
	transition: all 1s ease-in-out;
}
.modal_window .content{
	display:inline-block;
	position:absolute;
	left:50%;
	top:50%;
	width:600px;
	height:400px;
	background:white;
	margin-left:-300px;
	margin-top:-200px;
	z-index:10;
	-webkit-box-shadow: 0px 0px 14px 0px rgba(50, 50, 50, 1);
	-moz-box-shadow:    0px 0px 14px 0px rgba(50, 50, 50, 1);
	box-shadow:         0px 0px 14px 0px rgba(50, 50, 50, 1);
	box-sizing: border-box;
}

.modal_window .content .content_scroll {
	height:320px;
	overflow:auto;
	padding:5px;
	border-top: #d7d298 1px solid;
	background: #fffef0;
}

.exit_modal {
	position:absolute;
	display:inline-block;
	width:14px;
	height:14px;
	background:url(../../img/exit_modal.png) center center no-repeat;
	top:25px;
	right:15px;
	cursor: pointer;
}

.grey {
	color: #b9b9b9;
}

.filters {
	display:inline-block;
	width: 50px;
	height: 47px;
	position:absolute;
	left:10px;
	bottom:10px;
}
 .filters:hover .filters_ico{
 	opacity: 1;
 	background:white url(../../img/filters.png) center center no-repeat;
 	border: 1px solid #c0c0c0;
	border-top:none;
 }
 .filters:hover .filters_content {
 	left:0px;
 	opacity: 1;
 }

 .filters_ico {
 	opacity: 0.7;
 	display:inline-block;
	width: 50px;
	height: 47px;
	cursor: pointer;
	background:url(../../img/filters.png) center center no-repeat;
	-webkit-border-bottom-right-radius: 8px;
	-webkit-border-bottom-left-radius: 8px;
	-moz-border-radius-bottomright: 8px;
	-moz-border-radius-bottomleft: 8px;
	border-bottom-right-radius: 8px;
	border-bottom-left-radius: 8px;
	overflow:hidden;
	box-sizing: border-box;
	z-index:6;
	position:relative;
	-webkit-transition: all 0.3s ease-in-out;
	-moz-transition: all 0.3s ease-in-out;
	-o-transition: all 0.3s ease-in-out;
	transition: all 0.3s ease-in-out;
 }
 .filters_content {
 	position:absolute;
 	left:0px;
 	bottom:46px;
 	background: white;
 	padding-bottom:20px;
 	border: 1px solid #c0c0c0;
 	z-index:2;
 	-webkit-border-radius: 8px;
	-webkit-border-bottom-left-radius: 0;
	-moz-border-radius: 8px;
	-moz-border-radius-bottomleft: 0;
	border-radius: 8px;
	border-bottom-left-radius: 0;
	padding:5px;
	-webkit-transition: all 0.4s ease-in-out;
	-moz-transition: all 0.4s ease-in-out;
	-o-transition: all 0.4s ease-in-out;
	transition: all 0.4s ease-in-out;
	opacity: 0;
	left:-1000%;
}
.nofilter_found {
	position:absolute;
	margin:0px;
	padding:0px;
	top:50%;
	text-align:center;
	display:inline;
	width:100%;
	font-size:28px;
	color:#1a1a1a;
	font-weight: bold;
	margin-top:-10px;
}