<div class="my_block" *ngIf="!is_auth">
	<h1>Registration form</h1>
	<form  (ngSubmit)="registration(); RegistrationForm.reset();" #RegistrationForm="ngForm">
		<div class="message_user" [hidden]="!message_user" animate-me="animateToggle">{{ message_user }}</div>
		<div>
			<input type="text" name="login" [(ngModel)]="login" placeholder="Your login" required="required">
		</div>
		<div>
			<input type="password" name="password" [(ngModel)]="password" placeholder="Your password" required="required">
		</div>
		<div>
			<input type="password" name="password2" [(ngModel)]="password2" placeholder="Repeat your password" required="required">
		</div>
		<div align="center">
			<button type="submit" [disabled]="RegistrationForm.form.invalid || password!=password2">Registration</button>
		</div>
		<div class="link">
			<a routerLink="/enter" routerLinkActive="Active">Enter form</a>
		</div>
	</form>
</div>