.my_block {
	width:500px;
	height:380px;
	background: #eeeeee;
	display: block;
	position:absolute;
	left:50%;
	top:50%;
	margin-top:-190px;
	margin-left:-275px;
	border:1px solid #3e3e3e;
	padding:25px;
}

.my_block:before{
	position:absolute;
	content:"";
	top:0;
	bottom:100px;
	left:-25px;
	right:30px;
	z-index:-1;
	height:380px;
	background:url(../../img/medium_block_shadow.png) center left no-repeat;
}
.my_block:after{
	position:absolute;
	content:"";
	top:0;
	bottom:100px;
	left:100%;
	right:-25px;
	z-index:-1;
 	height:380px;
	background:url(../../img/medium_block_shadow.png) center left no-repeat;
	-moz-transform: scale(-1,1);
	-webkit-transform: scale(-1, 1);
	-o-transform: scale(-1,1);
	transform: scale(-1,1);
	filter: FlipH;
	-ms-filter: "FlipH";
}

.my_block h1 {
	text-align: center;
	font-size:32px;
}

.my_block input[type="text"], .my_block input[type="password"] {
	background:#dadada;
	border:1px solid #bab4b4;
	width:100%;
	border-radius:10px;
	padding:12px;
	font-size:20px;
	margin-bottom:30px;
	box-sizing: border-box;
}

.my_block button {
	background: #ffea00; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffea00 0%, #ffd200 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffea00 0%,#ffd200 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffea00 0%,#ffd200 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffea00', endColorstr='#ffd200',GradientType=0 ); /* IE6-9 */
	color: #050306;
	border: 1px solid #ccbd1b;
	font-size:20px;
	padding:8px;
	padding-left:35px;
	padding-right:35px;
	border-radius:10px;
	cursor:pointer;
}

.my_block button:not([disabled]):hover {
	background: #ffd200; /* Old browsers */
	background: -moz-linear-gradient(top,  #ffd200 0%, #ffea00 100%); /* FF3.6-15 */
	background: -webkit-linear-gradient(top,  #ffd200 0%,#ffea00 100%); /* Chrome10-25,Safari5.1-6 */
	background: linear-gradient(to bottom,  #ffd200 0%,#ffea00 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffd200', endColorstr='#ffea00',GradientType=0 ); /* IE6-9 */

}

.my_block button:disabled {
	-webkit-filter: grayscale(100%);
	-moz-filter: grayscale(100%);
	-ms-filter: grayscale(100%);
	-o-filter: grayscale(100%);
	filter: grayscale(100%);
	filter: gray; /* IE 6-9 */
	opacity: 0.5;
	cursor: default;
}

.my_block .link {
	margin-top:35px;
	text-align: center;
	font-size:18px;
}

.my_block .link a {
	color: #0980bd;
}

.my_block .link a:hover {
	color: #007eff;
}


.message_user {
	position:absolute;
	top:10px;
	left:0px;
	text-align:center;
	width:100%;
	background: #f5f0b3;
	color: #252200;
	padding:8px;
	box-sizing: border-box;
	font-weight: bold;
	font-size: 16px;
	border-top: 1px solid #bcb669;
	border-bottom: 1px solid #bcb669;
}