<div class="my_block" id="my_block" *ngIf="!is_auth">
	<h1>Enter form</h1>
	<form (ngSubmit)="enter(EnterForm);" #EnterForm="ngForm">
		<div class="message_user" [hidden]="!message_user" animate-me="animateToggle">{{ message_user }}</div>
		<div>
			<input type="text" name="login" [(ngModel)]="login" placeholder="Your login" required="required">
		</div>
		<div>
			<input type="password" name="password" [(ngModel)]="password" placeholder="Your password" required="required">
		</div>
		<div align="center">
			<button type="sumbit" [disabled]="EnterForm.form.invalid">Enter</button>
		</div>
	</form>
	<div class="link">
		<a routerLink="/registration" routerLinkActive="Active">Registration form</a>
	</div>
</div>