::selection {
	background: #fff1bf; /* Safari */
}
::-moz-selection {
	background: #fff1bf; /* Firefox */
}


*{
	font-family: calibri;
	outline: none;
}
::-webkit-input-placeholder {
	color: #828282;
}
::-ms-input-placeholder {
	color: #828282;
}
::-moz-placeholder {
	color: #828282;
	opacity: 1;
}
:-moz-placeholder {
	color: #828282;
	opacity: 1;
}
body {
	background: url(../img/body_bg.png)!important;
	margin: 0px;
	padding: 0px;
}
header {
	background: #ccbd1b url(../img/head.png) center center no-repeat;
	border-top: 1px solid #fcff00;
	border-bottom: 1px solid #fcff00;
	display:block;
	width: 100%;
	height: 50px;
	margin-top: 30px;
	position:relative;
}
.exit {
	background: url(../img/exit.png) center center no-repeat;
	cursor:pointer;
	position:absolute;
	right:10px;
	top:5px;
	display: block;
	width:25px;
	height:39px;
	opacity:0.8;
}
.exit:hover {
	opacity:1;
}


.error {
	background: #edd2d2;
	border: 1px solid #c48686;
	display:inline-block;
	padding:25px;
	border-radius:15px;
	color: #5a1212;
	font-weight:bold;
	margin-top:25px;
}





.button {
	display:inlineblock;
	border-radius: 15px;
	padding-left:45px;
	padding-right:45px;
	padding-top:10px;
	padding-bottom:10px;
	background: #1a1a1a;
	border:1.5px solid #1a1a1a;
	color: #ffea00;
	font-size:30px;
	font-family: 'Oswald';
	text-transform:uppercase;
	cursor:pointer;
	-webkit-transition: all 0.6s ease-in-out;
	-moz-transition: all 0.6s ease-in-out;
	-o-transition: all 0.6s ease-in-out;
 	transition: all 0.6s ease-in-out;
 	text-decoration:none;
}

.button:hover {
	background:none;
	color: #1a1a1a;
}

.create {
	position:absolute;
	top:50%;
	left:50%;
	margin-left:-89px;
}
.bottom {
	bottom:10px;
	top:auto;
}

.go_back {
	display: inline-block;
	width: 37px;
	height:37px;
	background: url(../img/back.png) center center no-repeat;
	position:absolute;
	left: 10px;
	top: 6px;
	opacity: 0.8;
	cursor:pointer;
}
.go_back:hover {
	opacity: 1;
}




.preloader5 {
   display:inline-block;
   font-size:0px;
   padding:0px;
   position:absolute;
   left:50%;
   top:50%;
   margin-left:-21px;
   margin-top:-8px;
}
.preloader5 span {
   vertical-align:middle;
   border-radius:100%;
   background:#000000;
   display:inline-block;
   width:10px;
   height:10px;
   margin:3px 2px;
   -webkit-animation:preloader5 0.8s linear infinite alternate;
   animation:preloader5 0.8s linear infinite alternate;
}
.preloader5 span:nth-child(1) {
   -webkit-animation-delay:-0.8;
   animation-delay:-0.8s;
}
.preloader5 span:nth-child(2) {
   -webkit-animation-delay:-0.53333s;
   animation-delay:-0.53333s;
}
.preloader5 span:nth-child(3) {
   -webkit-animation-delay:-0.26666s;
   animation-delay:-0.26666s;
}
@keyframes preloader5 {
   from {transform: scale(0, 0);}
   to {transform: scale(1, 1);}
}
@-webkit-keyframes preloader5 {
   from {-webkit-transform: scale(0, 0);}
   to {-webkit-transform: scale(1, 1);}
}