<div class="my_block" id="my_block" *ngIf="is_auth">
	<div class="preloader5" *ngIf="is_update==false">
	    <span></span>
	    <span></span>
	    <span></span>
	</div>
	<h1>Change tasks</h1>
	<div class="tabs" *ngIf="is_update==true">
		<ul class="menu">
			<li (click)="create_tabs(0)" [style.background]= "tab==0 ? '#bbbbbb' : ''">Task</li>
			<li (click)="create_tabs(1)" [style.background]= "tab==1 ? '#bbbbbb' : ''">Meeting</li>
			<li (click)="create_tabs(2)" [style.background]= "tab==2 ? '#bbbbbb' : ''">Reminder</li>
		</ul>
		<div class="tabs_content">
			<form (ngSubmit)="change(ChangeTaskForm);" #ChangeTaskForm="ngForm">
				<input type="text" name="header" placeholder="Title" required="required" [(ngModel)]="title" required="required">
				<input *ngIf="tab==1" type="text" name="Place" placeholder="Place" required="required" [(ngModel)]="place" required="required">
				<textarea *ngIf="tab!=2" name="Description" placeholder="Description" [(ngModel)]="description" required="required"></textarea>
				<input type="date" name="date" [(ngModel)]="date" required="required">
				<input type="time" name="time" [(ngModel)]="time" required="required" />
				<div align="center">
					<button type="sumbit" [disabled]="ChangeTaskForm.form.invalid">Change task</button>
				</div>
			</form>
		</div>
	</div>
</div>